body{
  text-align: center;
  background-color: grey;
}

.Play {
    position: relative;
    background-color: Grey;/* Fix this if its problem bruh */
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.Play:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.Play:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/*.resultsw, .resultsL{
  float: right;
}*/
